h2 {
  color: blue;
}

#container {
  width: 33vw;
  margin: 4rem auto;
  font-family: 'Courier New', Courier, monospace;
}

input[type="text"] {
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

li {
  list-style: none;
  font-size: 20px;
  margin: 10px 0;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}
